@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Songs Library</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to your songs library.</h2>
        <p>
            This application allows you to keep a record of your favorite songs.
        </p>
    </div>
</div>